<div class="faq-card-wrap">
  <i id='xOutIcon'class="faq faq-times-circle"></i>
  <div class="faq-content-wrap">
    <p style="font-size: 30px;">Frequently Asked Questions</p>

  </div>

  <div class="faq-list">
    <ul>
      <li>Q. Will we have to buy new cameras or equipment?</li>
      <li>A. While there is some computing hardware needed for the system, nothing has to be replaced in your existing surveillance infrastructure and old analog cameras are fine as well.</li>
      <li>Q. How long does it take to set up?</li>
      <li>A. About 2 weeks.</li>
      <li>Q. What will we have to provide to use the system?</li>
      <li>A. We’d need the following information:</li>
      <ol>
        <li>   • The location’s GPS coordinates.</li>
        <li>   • Floor plans or schematics of the site’s structures.</li>
        <li>   • The locations of the fixed cameras within these floor plans.</li>
        <li>   • RTSP addresses of the cameras’ video feeds.</li>
      </ol>
      <li>Q. Does your system support radar?</li>
      <li>A. Yes. We’ve supplied our system in Baltimore with 2 radars, so it is probably the first school/community campus to be protected by radars - affordably. </li>
      <li>Q. Is the system difficult to use?</li>
      <li>A. A. It’s completely intuitive and easy to use.</li>
      <li>Q. Is it portable or does it have to stay in one room?</li>
      <li>A. The tablet is completely portable, even beyond the site.</li>
      <li>Q. Can police and fire use the system?</li>
      <li>A. Yes! The system is designed so that anyone using it will completely understand the situation in minutes and be able to take decisive action.</li>
      <li>Q. Does the system have a server?</li>
      <li>A. Generally yes, depending on version and the type of the deployed devices within the site.</li>
      <li>Q. Do you also do private security consulting?</li>
      <li>A. Certainly</li>
      <li>. For which kind of properties is this system appropriate?</li>
      <li>A. For a very wide variety of properties. From schools and community facilities, through commercial spaces and facilities and government buildings. Practically, any type of site that has to be monitored.</li>
      <li>Q. Is it possible to have more than one tablet?</li>
      <li>A. With the proper data network - The system will support as many tablets as you would like.</li>
      <li>Q. Is the system secure? Won’t it create vulnerabilities for our system?</li>
      <li>A. The system may work “under the hood” within your data network, so all your IT security suits will protect it.</li>
      <li>Q. What about privacy concerns?</li>
      <li>A. Privacy concerns are raised and dealt with during the installation of cameras. Our system does not raise any further concerns.</li>
      <li>Q. How can our guards use this system?</li>
      <li>A. Your guards can use this system as a force multiplier - it turns guards into super guards, being able to monitor the entire site from wherever they are, even out of the site.</li>
      <li>Q. Do you have any certifications?</li>
      <li>A. None is needed.</li>
      <li>Q.  Do you have remote microphone capability to the facility to warn/threaten a suspect?</li>
      <li>A. The system can be added with this functionality, we’d need to know the type of PA system you have in your site so we can integrate with it.</li>
    </ul>
  </div>


</div>
