// @media only screen and (max-width: 850px) {

//   .home-banner > .banner-title {
//     margin-top: 50px;
//     padding-top: 0px;
//   }

//   .home-banner > .banner-title h1 {
//     margin-top: 50px;
//     font-size: 40px;
//   }

//   .home-banner > .banner-title h3 {
//     font-size: 16px;
//   } 
//   // 
//   .intro-text-wrap > .intro-text-inner > #title-sub-header {
//     font-size: 26px;
//   }

//   // 
//   .feature-circle-wrap {
//     height: 600px;
//   }

//   // 
//   .read-about-banner #header {
//     font-size: 26px;
//   }

//   .read-about-banner p {
//     font-size: 18px;
//   }
//   // 
//   #card-title{
//     font-size: 14px !important;
//   }

//   .flip-card-back{
//     padding: 30px;
//   }


//   .endorse-card-content h4{
//     font-size: 15px;
//     font-weight: normal;
//     align-items: flex-start;
//   }

//   .endorse-card-content h3{
//     font-size: 13px;
//     font-weight: 300;

//   }

// }



// @media only screen and (max-width: 750px)  {
//   .home-banner > .banner-title {
//     margin-top: 25px;
//     padding-top: 0px;
//   }

//   .home-banner > .banner-title h1 {
//     margin-top: 0px !important;
//     font-size: 20px !important;
//   }

//   .home-banner > .banner-title h3 {
//     font-size: 12px;
//   } 

//   // 
//   .intro-text-wrap > .intro-text-inner > #title-sub-header {
//     font-size: 18px;
//   }
//   // 

//   .feature-circle-wrap {
//     height: 500px;
//   }
//   // 

//   .read-about-banner #section-header {
//     font-size: 22px;
//   }

//   .read-about-banner p {
//     font-size: 14px !important;
//   }
//   .read-about-banner li {
//     font-size: 14px !important;
//   }
//   // 
//   .industries-wrap {
//     margin-top: 85px;
//   }

//   .industry{
//     width: 100% !important;
//   }

//   #card-title{
//     font-size: 14px !important;
//   }

//   // 

//   // .footer > .footer-inner {
//   //   width: 75%;
//   // }

//   .footer > .footer-inner > .contact-us-wrap  {
//     width: 100%;
//     font-size: 12px;
//   }

//   .footer > .footer-inner > .contact-us-wrap #sub-header {
//     font-size: 12px;
//   }

//   .footer .footer-inner .follow-us-bar #sub-header{
//     font-size: 14px;
//   }

//   // endorsements

//   #section-header{
//     font-size: 16px !important;
//   }

//   // contact form

//   .form-card-wrap{
//     height: 100vh;
//     position: fixed;
//     overflow: scroll;
//     width: 100%;
//     bottom: 0px;
//     top: 0px;
//   }

//   .form-content-wrap:nth-child(1){
//     font-size: 22px;
//   }

//   .form-content-wrap:nth-child(2){
//     font-size: 8px;
//   }

//   .form-row{
//     flex-direction: column !important;
//   }

//   .form-card-wrap .form-submit {
//     margin-bottom: 25px;
//   }

//   .form-card-wrap .white-form-submit {
//     width: 100%;
//   }

//   // FAQ

//   .faq-card-wrap{
//     margin: 0px !important;
//   }
// }


// @media only screen and (max-width: 450px) {
//   // endorsements

//   #section-header{
//     font-size: 16px !important;
//   }

//   .endorse-card{
//     display: flex;
//     background: white;
//     border-radius: 2px;
//     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//     margin: 25px 0 10px 0;
//     height: 525px !important;
//     flex-direction: column;
//     justify-content: space-evenly;
//     // position: relative;
//     overflow: hidden;
//   }

//   .endorse-photo{
//     width: 50%;
//     margin: 0 auto;
//     padding-top: 25px;
//     min-height: 30%;
//     max-height: 30%;
//   }


//   .endorse-card-content{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     // padding: 8px;
//     // padding-top: 50px;
//     max-height: 250px;
//     padding-top: 0px !important;
//   }

//   .endorse-card-content h4{
//     font-size: 20px;
//     font-weight: normal;
//     align-items: flex-start;
//   }

//   .endorse-card-content h3{
//     font-size: 18px;
//     font-weight: 300;

//   }

//   .endorse-name{
//     align-content: flex-start;
//   }

//   .endorse-content{
//     flex-direction: column;
//   }
  
//   .endorse-quote{
//     padding: 30px 8px 0 15px;
//     height: 150px;
//   }

//   .endorse-logo{
//     width: 100%;
//     padding-right: 50px;
//     margin-top: 100px;
//   }

//   .endorse-logo img{
//     overflow: hidden;
//     max-height: 100px;
//     width: 80%;
//     object-fit: contain;
//     float: right;
//   }
// }



// @media only screen and (max-width: 700px) and (max-width: 850px){
//   .endorse-name h4{
//         font-size: 15px !important; 
//   }

//   .endorse-quote h3{
//         font-size: 14px !important;
//   }

//   .endorse-logo{
//         min-width: 25% !important;
//   }
// }


// IPAD
@media only screen and (max-width: 1200px) {
// benefits
  .benefits-banner {
    padding: 36px 150px 70px 150px;
    line-height: 1.8;
  }

  .benefits-banner p {
    font-size: 18px;
    font-family: 'Roboto';
  }

  .benefits-banner ul li span {
    font-size: 18px !important;
    font-family: 'Roboto'
  }

  .benefits-banner #section-header p {
    font-size: 32px !important;
    font-weight: 500;
  }
// benefits

// experience
  .experience-text-wrap{
    padding: 36px 150px 75px 150px !important;
  }

  .experience-text-wrap #experience-header .experience-text-inner p {

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #303030;
  }
// experience

// home-dropdown
  .contact-form-wrap {
    padding: 40px 0px !important;
  }

  .contact-form-wrap .contact-form{
    padding: 60px 40px !important;
  }
// home-dropdown

}
// IPAD


// IPAD MINI 
@media only screen and (max-width: 900px) { 

  .banner-video-mobile p {
    padding: 50px 75px 20px !important;
  }
  .experience-text-inner {
    font-size: 16px !important;
  }

  .endorse-name-ipad p {
    font-size: 14px !important;
  }
  .endorse-name-ipad p:nth-child(2) {
    font-size: 12px !important;
  }

  .endorse-quote-ipad p {
    font-size: 12px !important;
  }

  .home-dropdown .faq-card {
    padding: 50px 75px !important;
  }

  .faq-wrap .faq-a {
    padding: 15px 0px !important;
  }
  
  .statement-wrap .statement p{
    font-size: 30px !important;
  }

// 

.navbar-container{
  padding: 12px 80px !important;
}

.benefits-banner{
  padding: 36px 80px 70px 80px !important;
}

.experience-text-wrap{
  padding: 36px 80px 75px 80px !important;
}

.endorsement-card-wrap-ipad{
  padding: 0px 80px 80px !important;
}
.footer .contact-info{
  padding-left: 80px !important;
}

.footer .footer-links {
  padding-right: 80px !important;
}

.main-faq .faq-wrap{
  padding: 0px 80px !important;
}
// 

}
// IPAD MINI


// MOBILE PORTRAIT
@media only screen and (max-width: 600px) { 
  // nav
  .navbar-container{
    padding: 12px 25px !important;
  }

  .navbar-container .nav-company {
    width: 100%;
  }

  .navbar-container .nav-company .navbar-company{
    margin: 0 auto;
    font-size: 17px;
  }
  // nav

  // homebanner
  .home-banner-wrap-mobile{
    padding: 50px 50px 30px !important;
  }

  .banner-title-mobile{
    width: 100% !important;
  }

  .banner-video-mobile{
    padding: 50px 0px 0px 0px !important;
  }

  .banner-video-mobile p {
    padding: 50px 0px 20px !important;
    font-size: 15px !important;
  }

  .quote-button-box{
    height: 25px;
    width: 100px;
    font-size: 10px;
    padding: 15px;
    line-height: 0px;
  }
  // homebanner

  // benefits
  .benefits-banner{
    padding: 36px 50px 70px 50px !important;
  }

  .benefits-banner p {
    font-size: 16px;
  }

  .benefits-banner ul li span {
    font-size: 16px !important;
  }

  .benefits-banner #section-header p{
    font-size: 17px !important;
  }
  // benefits

  // experience
  #experience-header{
    padding: 0px !important;
  }
  #experience-header > p{
    font-size: 17px;
  }

  .experience-text-wrap{
    padding: 75px 50px 75px 50px !important;
  }

  .experience-text-inner{
    padding: 0px !important;
  }

  .experience-text-inner p {
    font-size: 16px !important;
  }
  // experience
  

  // endorsements


  .endorse-container{
    padding: 75px 0px;
    position: relative;
  }

  .carousel-next{
    position: absolute;
    right: 10px;
    bottom: 50%;
  }

  .carousel-previous {
    position: absolute;
    bottom: 50%;
    left: 10px;
    transform: rotateY(180deg);
  }

  .endorsements-wrap-ipad{
    margin: 10px 35px !important;
    padding: 0px !important;
    height: 60vh;
    display: flex;
    overflow-x: scroll;

  }

  .endorse-card{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    min-width: 100%;
    margin-right: 35px;
  }
  
  .endorse-card-content{
    min-height: 50% !important;
    justify-content: space-between !important;
    padding: 0px 10px 0px 30px !important;
  } 

  .endorse-card-content h3 {
    font-size: 16px;
    line-height: 1.1;
  }

  .endorse-container #section-header{
    padding-left: 35px !important;
  }

  .endorse-container #section-header p {
    font-size: 17px;
  }


  .endorse-photo{
    min-height: 25% !important;
  }

  .endorse-photo{
    max-width: 100% !important;
    min-width: 100% !important;
    margin-top: 20px !important;
  }

  .endorse-photo img {
    width: 50% !important;
    margin: 0 auto !important;
  }

  .endorse-quote {
    padding: 0px !important;
  }

  .endorse-logo{
    min-height: 20% !important;
  }

  .endorse-logo img {
    width: 50%;
    margin: 0 auto;
  }



  // endorsements
  

  // DROPDOWN
  .home-dropdown .faq-card{
    padding: 50px 35px !important;
  }

  .contact-form-inner{
    width: 100% !important;
  }

  .home-dropdown .faq-q p {
    font-size: 17px !important;
    font-weight: bold;
  }

  .home-dropdown .faq-wrap .faq-card p {
    font-size: 14px !important; 
  }

  .contact-form-wrap .contact-form {
      padding: 30px 40px !important;
  }

  .home-dropdown .contact-form .contact-form-inner input {
    height: 35px;
    border-radius: 8px;

  }


  .home-dropdown .contact-form .contact-form-inner label {
    font-size: 10px !important;
  }


  .home-dropdown .contact-form .contact-form-inner #contact-submit {
    font-size: 10px !important;
    width: 100%;
  }

  .home-dropdown .contact-form .contact-form-inner .before-submit-content p {
    font-size: 10px !important;
  }
  // DROPDOWN


  // faq
  .main-faq .faq-wrap{
    padding: 0px 35px !important;
  }

  .main-faq .faq-wrap .faq-card p {
      font-size: 10px !important;
   }

   .main-faq .faq-wrap .faq-card{
    padding: 30px 35px 40px !important;
   }

  // faq




  // statement
  .statement-wrap .statement {
    height: auto;
    padding: 50px;
  }

  .statement-wrap .statement p{
    font-size: 17px !important;
  }
  // statement



  // qoute
  .number-field label {
    min-width: 60% !important;
    padding: 5px;
  }
  // qoute

// footer
.footer-inner{
  flex-direction: column !important;
  padding: 35px 0px !important;
}

.follow-social-networks {
  position: absolute;
  left: 0px;
  justify-content: space-evenly !important;
  font-size: 40px !important;
}

.footer-links{
  display: none !important;
}

.footer-inner .contact-us-wrap{
  justify-content: center !important;
}

.footer-inner .contact-info{
  padding-left: 0px !important;
}
// footer

}
// MOBILE PORTRAIT



// MOBILE SMALL
@media only screen and (max-width: 370px) { 
  .banner-video-mobile p {
    padding: 50px 0px 20px !important;
    font-size: 14px !important;
  }

  .benefits-banner p {
    font-size: 14px;
  }
  .benefits-banner ul li span {
    font-size: 12px !important;
  }

  .benefits-banner #section-header p{
    font-size: 12px !important;
  }

  #experience-header > p{
    font-size: 15px;
  }

  .experience-text-inner p {
    font-size: 12px !important;
  }

  .endorse-quote h3{
    font-size: 10px !important;
  }

  .endorse-name h4{
    font-size: 12px;
  }

  .endorse-name h5{
    font-size: 10px;
  }

}
// MOBILE SMALL
