@media only screen and (max-width: 850px) {
  body{
    background: blue;
  }
  .home-banner > .banner-title {
    margin-top: 50px;
    padding-top: 0px;
  }

  .home-banner > .banner-title h1 {
    margin-top: 50px;
    font-size: 40px;
  }

  .home-banner > .banner-title h3 {
    font-size: 16px;
  } 
  // 
  .intro-text-wrap > .intro-text-inner > #title-sub-header {
    font-size: 26px;
  }

  // 
  .feature-circle-wrap {
    height: 600px;
  }

  // 
  .read-about-banner #header {
    font-size: 26px;
  }

  .read-about-banner p {
    font-size: 18px;
  }
  // 
  #card-title{
    font-size: 14px !important;
  }

  .flip-card-back{
    padding: 30px;
  }

}



@media only screen and (max-width: 750px)  {
  .home-banner > .banner-title {
    margin-top: 25px;
    padding-top: 0px;
  }

  .home-banner > .banner-title h1 {
    margin-top: 0px !important;
    font-size: 20px !important;
  }

  .home-banner > .banner-title h3 {
    font-size: 12px;
  } 

  // 
  .intro-text-wrap > .intro-text-inner > #title-sub-header {
    font-size: 18px;
  }
  // 

  .feature-circle-wrap {
    height: 500px;
  }
  // 

  .read-about-banner #section-header {
    font-size: 22px;
  }

  .read-about-banner p {
    font-size: 14px !important;
  }
  .read-about-banner li {
    font-size: 14px !important;
  }
  // 
  .industries-wrap {
    margin-top: 85px;
  }

  .industry{
    width: 100% !important;
  }

  #card-title{
    font-size: 14px !important;
  }

  // 

  .footer > .footer-inner {
    width: 75%;
  }

  .footer > .footer-inner > .contact-us-wrap  {
    width: 100%;
    font-size: 12px;
  }

  .footer > .footer-inner > .contact-us-wrap #sub-header {
    font-size: 12px;
  }

  .footer .footer-inner .follow-us-bar #sub-header{
    font-size: 14px;
  }

  // endorsements

  #section-header{
    font-size: 16px !important;
  }

  // contact form

  .form-card-wrap{
    height: 100vh;
    position: fixed;
    overflow: scroll;
    width: 100%;
    bottom: 0px;
    top: 0px;
  }

  .form-content-wrap:nth-child(1){
    font-size: 22px;
  }

  .form-content-wrap:nth-child(2){
    font-size: 8px;
  }

  .form-row{
    flex-direction: column !important;
  }

  .form-card-wrap .form-submit {
    margin-bottom: 25px;
  }

  .form-card-wrap .white-form-submit {
    width: 100%;
  }

  // FAQ

  .faq-card-wrap{
    margin: 0px !important;
  }
}


@media only screen and (max-width: 450px) {
  // endorsements

  #section-header{
    font-size: 16px !important;
  }

  .endorse-card{
    display: flex;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 25px 0 10px 0;
    height: 525px !important;
    flex-direction: column;
    justify-content: space-evenly;
    // position: relative;
    overflow: hidden;
  }

  .endorse-photo{
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
    min-height: 30%;
    max-height: 30%;
  }


  .endorse-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // padding: 8px;
    // padding-top: 50px;
    max-height: 250px;
    padding-top: 0px !important;
  }

  .endorse-card-content h4{
    font-size: 20px;
    font-weight: normal;
    align-items: flex-start;
  }

  .endorse-card-content h3{
    font-size: 18px;
    font-weight: 300;

  }

  .endorse-name{
    align-content: flex-start;
  }

  .endorse-content{
    flex-direction: column;
  }
  
  .endorse-quote{
    padding: 30px 8px 0 15px;
    height: 150px;
  }

  .endorse-logo{
    width: 100%;
    padding-right: 50px;
    margin-top: 50px;
  }

  .endorse-logo img{
    overflow: hidden;
    max-height: 100px;
    width: 80%;
    object-fit: contain;
    float: right;
  }
}



@media only screen and (max-width: 700px) and (max-width: 850px){
  .endorse-name h4{
        font-size: 15px !important; 
  }

  .endorse-quote h3{
        font-size: 14px !important;
  }

  .endorse-logo{
        min-width: 25% !important;
  }
}




