@media only screen and (max-width: 850px) {
  .home-banner > .banner-title {
    margin-top: 50px;
    padding-top: 0px;
  }

  .home-banner > .banner-title h1 {
    margin-top: 50px;
    font-size: 40px;
  }

  .home-banner > .banner-title h3 {
    font-size: 16px;
  } 
  // 
  .intro-text-wrap > .intro-text-inner > #title-sub-header {
    font-size: 26px;
  }

  // 
  .feature-circle-wrap {
    height: 600px;
  }

  // 
  .read-about-banner #header {
    font-size: 26px;
  }

  .read-about-banner p {
    font-size: 18px;
  }
  // 
  #card-title{
    font-size: 14px !important;
  }

  .flip-card-back{
    padding: 30px;
  }

}



@media only screen and (max-width: 750px) {
  .home-banner > .banner-title {
    margin-top: 25px;
    padding-top: 0px;
  }

  .home-banner > .banner-title h1 {
    margin-top: 0px !important;
    font-size: 20px !important;
  }

  .home-banner > .banner-title h3 {
    font-size: 12px;
  } 

  // 
  .intro-text-wrap > .intro-text-inner > #title-sub-header {
    font-size: 22px;
  }
  // 

  .feature-circle-wrap {
    height: 500px;
  }
  // 

  .read-about-banner #header {
    font-size: 22px;
  }

  .read-about-banner p {
    font-size: 14px;
  }
  // 
  .industries-wrap {
    margin-top: 85px;
  }

  .industry{
    width: 100% !important;
  }

  #card-title{
    font-size: 14px !important;
  }

  // 

  .footer > .footer-inner {
    width: 75%;
  }

  .footer > .footer-inner > .contact-us-wrap  {
    width: 100%;
    font-size: 12px;
  }

  .footer > .footer-inner > .contact-us-wrap #sub-header {
    font-size: 12px;
  }

  .footer .footer-inner .follow-us-bar #sub-header{
    font-size: 14px;
  }
}
